# Environment & secrets
.env
.env.local
*.pem

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
venv/
.venv/
*.egg-info/
.eggs/
dist/
build/

# Django
*.log
db.sqlite3
db.sqlite3-journal
/media/
!/media/.gitkeep
staticfiles/

# IDE
.idea/
.vscode/
*.swp
.DS_Store
